<ion-header>

  <ion-toolbar color="success">
    <!--<ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons>-->
    <ion-buttons slot="end">
          <ion-icon  name="person" slot="start"></ion-icon>
    </ion-buttons>  
    <ion-title>Ingresar</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/img/logo1.png" />
<ion-item>
  <ion-input color="success" [(ngModel)]="username" placeholder="Usuaurio"></ion-input>
</ion-item>
<ion-item>
  <ion-input type="password" color="success" [(ngModel)]="password" placeholder="Contraseña"></ion-input>
</ion-item>  
    <ion-button expand="block" (click)="onSubmitLogin()" color="success">Ingresar</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="success" [routerLink]="['/login']">Ingresar</ion-button>
    </ion-buttons>
    <ion-buttons color="success" slot="end">
      <ion-button color="success" [routerLink]="['/adduser']">Registrarse</ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-footer>