<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons color="success" slot="end">
      <ion-button [routerLink]="['/cart']">
        <ion-icon name="cart"></ion-icon>
        
      </ion-button>
      <ion-button [routerLink]="['/datos-usuario']">

        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>  
    <ion-title>Perfil Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://i.pinimg.com/originals/d1/1a/45/d11a452f5ce6ab534e083cdc11e8035e.png">
    </ion-avatar>
    <ion-label>Foto Perfil</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Genero</ion-label>
    <ion-select placeholder="Seleccione">
      <ion-select-option value="f">Femenino</ion-select-option>
      <ion-select-option value="m">Masculino</ion-select-option>
    </ion-select>
  </ion-item>


<ion-item>
  <ion-label position="stacked">Teléfono</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Dirección</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">C. P.</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Nueva contraseña</ion-label>
  <ion-input type="password" placeholder="Password"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Confirmar contraseña</ion-label>
  <ion-input type="password" placeholder="Password"></ion-input>
</ion-item>






    <ion-button expand="block" color="success">Guardar</ion-button>

</ion-content>
