
<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons color="success" slot="end">
      <ion-button [routerLink]="['/cart']">
        <ion-icon name="cart"></ion-icon>
        
      </ion-button>
      <ion-button [routerLink]="['/datos-usuario']">

        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>  
    <ion-title>Productos</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>


   
 

  
<!-- Default Searchbar -->
<!--<ion-searchbar></ion-searchbar>
    <ion-text>
      <p>Lunch: {{ lunch | json }}</p>
    </ion-text>
    <ion-text>
      <p>Dinner (modal data): {{dinner | json }}</p>
    </ion-text>
  <ion-button (click)="openModal()" color="primary" expand="full" >Open Modal</ion-button>
  <ion-button (click)="openModalWidthData()" color="primary" expand="full" >Open Modal width data</ion-button>
  -->
<ion-list>
  <ion-item *ngFor="let item of lista ">
    
    <ion-card >
      <img src="https://capa75.com.mx/images/img_products/product_{{item.id}}.jpg">
      <ion-card-header>

        <div class="btn-toolbar" role="toolbar">
        <ion-buttons color="success">
          <ion-button (click)="onSubmitMyHeart(item.id)">
            <ion-icon id="heart_{{item.id}}" name="heart"></ion-icon>
          </ion-button>

          <ion-button [routerLink]="['/datos-usuario']">
            <ion-icon name="send"></ion-icon>
          </ion-button>

          <ion-button [routerLink]="['/datos-usuario']">
            <ion-icon name="chatbubbles"></ion-icon>
          </ion-button>

          <ion-button [routerLink]="['/datos-usuario']">
            <ion-icon name="star"></ion-icon>
          </ion-button>
        </ion-buttons>  
        </div> 
          <ion-card-title color="success">{{ item.titulo }}</ion-card-title>
          <p>{{ item.descripcion }}</p>
      </ion-card-header>
    
  </ion-card>
  </ion-item>
</ion-list>

</ion-content>
