<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons color="success" slot="end">
      <ion-button [routerLink]="['/cart']">
        <ion-icon name="cart"></ion-icon>
        
      </ion-button>
      <ion-button [routerLink]="['/datos-usuario']">

        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>  
    <ion-title>Productos</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>


   


  
<!-- Default Searchbar -->
<ion-searchbar></ion-searchbar>
    


<ion-list>
  <ion-item *ngFor="let item of lista ">
    
    <ion-card >
      <img src="https://capa75.com.mx/images/img_products/product_{{item.id}}.jpg">
      <ion-card-header>
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
              <ion-icon  name="heart" ></ion-icon>
                  <ion-icon   ></ion-icon>
              <ion-icon  name="send" ></ion-icon>
                  <ion-icon   ></ion-icon>
              <ion-icon  name="chatbubbles" ></ion-icon>
                  <ion-icon   ></ion-icon>
                <ion-icon  name="star" ></ion-icon>
            </div>
          </div>    
          <ion-card-title color="success">{{ item.titulo }}</ion-card-title>
          <p>{{ item.descripcion }}</p>
      </ion-card-header>
    
  </ion-card>
  </ion-item>
</ion-list>

    <!-- card -->
    
<ion-card>

</ion-card>
    
    
<!-- Textarea that clears the value on edit -->

</ion-content>
