<ion-header >
  <ion-toolbar color="success">
       <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons color="success" slot="end">
      <ion-button [routerLink]="['/datos-usuario']"><ion-icon name="person"></ion-icon></ion-button>
    </ion-buttons>  
    <ion-title >chat_ejem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header color="primary">
    <ion-card-subtitle>Isabel C. 9:15 am</ion-card-subtitle>
    Nos vemos en la plaza, junto a la fuente
  </ion-card-header>

</ion-card>

  <ion-card>
  <ion-card-header color="secondary">
    <ion-card-subtitle text-aligne="right">Yo  9:17 am</ion-card-subtitle>
   
          Ok te llamo al llegar
  </ion-card-header>
</ion-card>
    
    <ion-card>
  <ion-card-header color="primary">
    <ion-card-subtitle>Isabel C. 9:20 am</ion-card-subtitle>
  
       No tardes, traigo mochila roja
  </ion-card-header>


</ion-card>
    
      <ion-card>
  <ion-card-header color="secondary">
    <ion-card-subtitle text-aligne="right">Yo  9:23 am</ion-card-subtitle>

          En camino... 
  </ion-card-header>
</ion-card>
    
    <ion-list>
					<ion-item>
					  <ion-label color="success" position="floating">Name</ion-label>
					  <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="success" inputmode="text" placeholder="Enter your name" required="true"></ion-input>
					  <ion-icon name="send" color="success" slot="end"></ion-icon>
					</ion-item>
				</ion-list>
</ion-content>
