<ion-header>
  <ion-toolbar color="success">
    <ion-title><ion-icon name="person-add-outline"></ion-icon> Agregar Usuario </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
<ion-item>
  <ion-label color="success" position="floating">Nombre</ion-label>
  <ion-input></ion-input>
</ion-item>
    <ion-item>
  <ion-label color="success" position="floating">Alias</ion-label>
  <ion-input></ion-input>
</ion-item>
    <ion-item>
  <ion-label color="success" position="floating">Correo </ion-label>
  <ion-input></ion-input>
</ion-item>
    <ion-item>
  <ion-label color="success" position="floating">Confimación de Correo </ion-label>
  <ion-input></ion-input>
</ion-item>
    
    <ion-button expand="block" color="success">Guardar</ion-button>

</ion-content>
