<ion-header>
  <ion-toolbar color="success">

    <ion-title>Dispensario México</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-card>
    <img src="assets/img/logo1.png" />
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/login']">Ingresar</ion-button>
      </ion-buttons>
      <ion-buttons color="success" slot="end">
        <ion-button [routerLink]="['/adduser']">Registrarse</ion-button>
      </ion-buttons>  
     
  
    </ion-toolbar>
  </ion-card>
  
</ion-content>
