<ion-header>
  <ion-toolbar color="success">

    <ion-title>Dispensario México</ion-title>

  </ion-toolbar>
</ion-header>
<br>
<br>
<br>
 <img src="assets/img/logo1.png" />  
<ion-content>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="success" [routerLink]="['/login']">Ingresar</ion-button>
    </ion-buttons>
    <ion-buttons color="success" slot="end">
      <ion-button color="success" [routerLink]="['/adduser']">Registrarse</ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-footer>